<!DOCTYPE html>
<%- include('partials/head.ejs') %>
<style>
    img {
    border-radius: 50%;
    }
</style>
<body>

    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="ibrahim.JPG" alt="" width="200" height="200">
      <h1 class="display-5 fw-bold">Ibrahim Albaba</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis dignissimos repudiandae ipsam corrupti doloribus nulla maiores provident, sapiente natus nobis, minima, in distinctio magni earum culpa. Illo exercitationem consectetur dolorem!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button onclick="window.location.href='/'" type="button" class="btn btn-primary btn-lg px-4 gap-3">Redirect Me Back</button>
          <button onclick="window.location.href='/coolstuff'" type="button" class="btn btn-outline-secondary btn-lg px-4">Let's See Something Cool</button>
        </div>
      </div>
    </div>
</body>

</html>